@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

strong {
  display: block;
  color: white;
}

.container .to-do a, .container .best-quality div a, .container .services a {
  background-color: #e71a23;
  padding: 1.5em 3em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
}

.container footer p, .container .all-services div section p, .container .best-quality div p, .container .help section p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.container .to-do p, .container .services p {
  line-height: 2em;
  font-weight: 300;
}

* {
  max-width: 100%;
  padding: 0;
  margin: 0;
  line-height: 1em;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

strong {
  display: block;
  color: white;
}

.container .to-do a, .container .best-quality div a, .container .services a {
  background-color: #e71a23;
  padding: 1.5em 3em;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 600;
  border-radius: 4px;
}

.container footer p, .container .all-services div section p, .container .best-quality div p, .container .help section p {
  font-size: 1.5em;
  line-height: 1.5em;
}

.container .to-do p, .container .services p {
  line-height: 2em;
  font-weight: 300;
}

@media only screen and (max-width : 768px) {
  nav {
    background: red;
  }
}
.container nav {
  display: flex;
  width: 90%;
  margin: 1em auto;
  justify-content: space-between;
}
.container .hero {
  background: url("/activity-7/hero-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 20em 0 6em 4em;
}
.container .hero h1 {
  font-size: 5em;
  font-weight: 300;
  color: #ffffff;
  border-bottom: solid white 0.2em;
  width: 60%;
  line-height: 1.5em;
  padding-bottom: 0.5em;
}
.container .hero h1 strong {
  font-size: 7rem;
  font-weight: 800;
  font-family: "Archivo Black", sans-serif;
}
.container .hero .logo {
  padding-top: 2em;
  display: flex;
  width: 50%;
  justify-content: space-around;
  color: #ffffff;
}
.container .hero .logo span p {
  font-size: 1.2em;
}
.container .services {
  padding: 9em 15% 6em;
  text-align: center;
  background-color: #f2f2f2;
}
.container .services h2 {
  font-size: 4em;
  line-height: 1.1;
  font-family: "Roboto", sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.container .services p {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.container .services h4 {
  color: #999999;
  font-size: 1.5em;
  font-weight: 500;
}
.container .help {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-evenly;
  margin: 4em 8em;
}
.container .help section img {
  width: 95%;
}
.container .help section p {
  font-size: 1.2em;
  padding: 2em 3em;
}
.container .help section h3 {
  font-size: 2.5em;
}
.container .help section h4 {
  color: #e71a23;
  font-size: 2em;
  padding: 1em 0 2em;
}
.container .best-quality {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: space-evenly;
  background-image: url("/images/g.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.container .best-quality div {
  padding-top: 13em;
  padding-right: 5%;
}
.container .best-quality div h1 {
  font-size: 4.5em;
  color: #104e92;
  padding-bottom: 0.5em;
  width: 90%;
  border-bottom: solid 0.2em #e71a23;
}
.container .best-quality div p {
  padding: 1em 0 1em;
}
.container .best-quality img {
  width: 100%;
  height: 98%;
}
.container .all-services h2 {
  font-size: 4em;
  padding: 1em 1em 0;
}
.container .all-services div {
  display: flex;
  justify-content: center;
}
.container .all-services div section {
  padding: 4em;
}
.container .all-services div section div {
  background-color: #e71a23;
  border-radius: 100%;
  width: 6em;
  height: 6em;
  padding: 1.3em;
  margin-bottom: 2em;
}
.container .all-services div section h3 {
  font-size: 2em;
  padding-bottom: 1em;
}
.container .all-services div section p {
  font-style: italic;
}
.container .about-us {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 4em;
  background-color: #104e92;
  color: #f2f2f2;
}
.container .about-us .first {
  padding: 7em 1em 2em;
}
.container .about-us .first h3 {
  font-size: 1.6em;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.container .about-us .first h1 {
  font-size: 6em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.container .about-us .first strong {
  font-size: 0.9em;
}
.container .about-us .second {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  justify-content: center;
}
.container .about-us .second img {
  height: 100%;
  width: 100%;
}
.container .to-do {
  text-align: center;
  padding: 7em 14em;
}
.container .to-do h1 {
  font-size: 2.5em;
  padding-bottom: 1em;
}
.container .to-do p {
  line-height: 1.5em;
  font-size: 2.5em;
}
.container .to-do a {
  margin: 1em;
}
.container .to-do .call-us {
  background-color: #ffffff;
  color: #000000;
  border: #000000 solid 0.1em;
  padding: 1.5em 4em;
}
.container footer {
  text-align: center;
  background: #2c2828;
  color: #f2f2f2;
  padding: 2em 25em;
}
.container footer p {
  padding: 2em;
  font-size: 1em;
}

@media screen and (max-width: 800px) {
  container nav {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
