@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$logo:url('/images/default-logo.png');
$heroBG:url('/activity-7/hero-bg.jpg');
$heroFont:'Archivo Black',
sans-serif;
$serviceFont: 'Roboto',
sans-serif;
$BQfont:#104e92;
$BQBGimage:url('/images/g.jpg');

