@import 'utils';
@import 'config';

$media-desktop: "only screen and (min-width : 1024px)";
$media-tablet: "screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 425px)";
$media-mobile-sm: "only screen and (max-width : 320px)";



// CAN BE USED

// @media #{$media-desktop} {

//             .logo {
//                display: flex;
//                 // background: red;
//             }
        

// }

// @media #{$media-tablet} {

//     nav {

//         background: red;
//         display: block;


//     }
// }

// @media #{$media-mobile} {
//     background:
//      red;
// }

// @media #{$media-mobile-sm} {
//     background: red;
// }


// WILL BE RESEARCHED

// @mixin breakpoint($size) {
//     @if $size == $media-mobile-sm {
//         @media (min-width: $media-mobile-sm) {
//         //    any style i want
//         }
//     }

//     @else if $size==$media-mobile {
//         @media (max-width:$media-mobile) {
//         //    any style i want
//         }
//     }

//     @else if $size==$media-tablet {
//         @media (max-width: $media-tablet) {
//         //    any style i want
//         .nav {
//             display: block;
//         }

//         }
//     }

//     @else if $size==$media-desktop {
//         @media (max-width: $media-desktop) {
//         //    any style i want
//         }
//     }

// }

//  @include breakpoint(medium)